{% include 'main.html' %}
{% load static i18n %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/main/insttructions.css' %}">
<title>Judo E-Platforma {% trans "Instruction" %}</title>
{% endblock title %}

{% block content %}
<h2 class="title">{% trans 'Instructions' %}</h2>
<div class="home instructions">
   <div class="instructions__header">
      <a href="#personalAccount">{% trans 'Account registration' %}</a>
      <a href="#addSportsmens">{% trans "Entering athletes' data into the system" %}</a>
      <a href="#sportsmentRegistration">{% trans 'Registration of athletes for the competition' %}</a>
      <a href="#Contacts">{% trans 'Contacts' %}</a>
   </div>
   <div class="instructions__content">

      <div class="instruction" id="personalAccount">
         <div class="instruction__header">
            <h2>{% trans 'Account registration' %}</h2>
            <span class="fa-solid fa-chevron-down open__instruction" ></span>
         </div>
         <div class="instruction__body" style="display: none;">
            <p>{% trans "In order to start the registration of athletes for competitions, the representative-coach needs to enter his personal account or register (create an account) in the automated registration system." %}</p>
            <img src="/static/media/instructions/registr.png" alt="register" />
            <p>{% trans "To create a new profile, you must fill in all the fields of the registration form" %}</p>
            <img src="/static/media/instructions/registerField.png" alt="register fields" />
            <p>{% trans "To be able to add participants and register them for tournaments you need to send your username to the site administrator" %}: <a href="mailto:admin@gmail.com" ><b>admin@gmail.com</b></a></p>
            <img src="/static/media/instructions/gotouserpage.png" alt="username" />
         </div>
      </div>

      <div class="instruction" id="addSportsmens">
         <div class="instruction__header">
            <h2>{% trans "Entering athletes' data into the system" %}</h2>
            <span class="fa-solid fa-chevron-down open__instruction"></span>
         </div>
         <div class="instruction__body" style="display: none;">
            <img src="/static/media/instructions/gotouserpage.png" alt="username" />
            <img src="/static/media/instructions/gotoallmyathletes.png" alt="gotoathletes" />
            <p>{% trans "Add athletes who will take part in the competition, after adding the athlete's data is saved for all competitions" %}.</p>
            <img src="/static/media/instructions/addnewathlete.png" alt="gotoathletes" />
            <p>{% trans "When adding an athlete in the athlete's profile, the first coach automatically indicates the name of the coach who added the athlete" %}.</p>
            <img src="/static/media/instructions/addnewathletesefieldsadded.png" alt="gotoathletes" />
         </div>
      </div>

      <div class="instruction" id="sportsmentRegistration">
         <div class="instruction__header">
            <h2>{% trans "Registration of athletes for the competition" %}</h2>
            <span class="fa-solid fa-chevron-down open__instruction"></span>
         </div>
         <div class="instruction__body" style="display: none;">
            <p>{% trans "To register athletes for competitions, select the competition in the list and click 'Registration' " %}</p>
            <img src="/static/media/instructions/registerontounrament.png" alt="gotoathletes" />
            <p>{% trans "Registration section for selected competitions" %}</p><br>
            <p>{% trans "Choose 'Register'" %} </p>
            <img src="/static/media/instructions/registertotournamen.png" alt="gotoathletes" />
            <p>{% trans "In the list for registration, all your athletes will appear" %} </p><br>
            <p>{% trans "The list displays athletes who are suitable by year of birth and qualification" %}</p><br>
            <p>{% trans "You must select a weight category and click '+' " %} </p>
            <img src="/static/media/instructions/deletefromregister.png" alt="gotoathletes" />
         </div>
      </div>

      <div class="instruction" id="Contacts">
         <div class="instruction__header">
            <h2>{% trans "Contacts" %}</h2>
            <span class="fa-solid fa-chevron-down open__instruction"></span>
         </div>
         <div class="instruction__body" style="display: none;">
            <h3>{% trans "Firstname Lastname Thirdname" %}</h3>
            <span><b>Email: </b> admin@gmail.com</span><br>
            <span><b>{% trans "Number" %}: </b> +7 772 304 8545</span>
            <h4>{% trans 'Website Creator' %}:</h4>
            <span><b>{% trans "Telegram" %}: </b>@baseles</span>
         </div>
      </div>

   </div>
</div>
<script src="{% static 'js/instructions.js' %}"></script>
{% endblock content %}  