{% load static i18n %}
{% block title %}
<link rel="stylesheet" href="{% static 'css/tournaments/add_new_athlete.css' %}">
<title>{% trans 'Add New Athlete' %}</title>
{% endblock %}

<form method="POST">
   {% csrf_token %}
   <h2>{% trans 'Add New Athlete' %}</h2>
   {% for field in form  %}
      <div class = "form__component">
         {% if field.errors %}
         <ul class="errorlist">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
         </ul>
         {% endif %}
         {{ field.label_tag }} {{ field }}
      </div>
   {% endfor %}

   <button type="submit" class="btn btn-primary" id="button">{% trans 'save' %}</button>
</form>