{% load static i18n %}
{% block title %}
<link rel="stylesheet" href="{% static 'css/tournaments/weight_categories.css' %}">

<link rel="stylesheet" href="{% static 'css/tournaments/athletes_admin_category.css' %}">
{% endblock %}

<div class="tournament__category__header">
   <a href="" class="btn active ">{% trans 'All Athletes' %}</a>
   <a href="" class="btn">{% trans 'Results' %}</a>
</div>

<div class="tournament__category__toolbar">
   <table class="show__all__categories">
      <thead>
         <tr class="table__head">
            <th>{% trans 'First Name' %}</th>
            <th>{% trans 'Last Name' %}</th>
            <th>{% trans 'Third Name' %}</th>
            <th>{% trans 'year' %}</th>
            <th>{% trans 'discharge' %}</th>
            <th>{% trans 'gender' %}</th>
            <th>{% trans 'coach' %}</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
      {% for weigh in category.weight.all  %}
        <form action="" method="POST">
         {% csrf_token %}
         <input type="hidden"  name="weight" value="{{weigh.id}}">
         {% for participant in weigh.participants.all %}
         <tr class="candidates-list participant">
            <td scope="col" class="participant" >{{ participant.firstName }}</td>
            <td scope="col" class="participant">{{participant.lastName}}</td>
            <td scope="col" class="participant">{{participant.thirdName}}</td>
            <td scope="col" class="participant">{{participant.year}}</td>
            <td scope="col" class="participant">{{participant.discharge}}</td>
            <td scope="col" class="participant">{{participant.gender}}</td>
            <td scope="col" class="participant">{{participant.coach}}</td>
   
            <input type="hidden"  name="participant" value="{{participant.id}}">
            <td scope="col" class="td_delete"><button type="submit">x</button></td>

         </tr>
         {% endfor %}
        </form>
      {% endfor %}
      
      </tbody>
   </table>
   <script src='{% static "js/upload_athletes.js" %}'></script>
</div> 