{% load static i18n %}

<h3>{{ tournire.title }}</h3>
<span class="home__card__span"></span>
<a href="{% url 'base:tournamets_admin_update_info' tournire.slug %}" class="link">
   <i class="fa-solid fa-pen-to-square"></i>
   {% trans 'Update Info' %}
</a>
<a href="{% url 'base:weight_categories' tournire.slug %}" class="link">
   <i class="fa-solid fa-plus"></i>
  {% trans 'Add New Weight Category' %}
</a>
{% for category in  tournire.weightcategory_set.all %}
   <a href="{% url 'base:athletes_admin_category' tournire.slug category.year category.gender %}" class="link">
      <i class="fa-solid fa-list"></i>
      {{ category.gender }} -  {{ category.year }}
   </a>
{% endfor %}
<a href="{% url 'base:tournamets_admin_delete' tournire.slug %}" class="link delete">
   <i class="fa-regular fa-trash-can"></i>
   {% trans 'Delete Tournament' %}
</a>