<div class="tournament__menu">
  <a class="tournament__menu__about__button" href="{% url 'base:tournament_show' tournament.slug %}" >
     <i class="fa-solid fa-house"></i>
     <span>Главное</span>
  </a>
  <a class="tournament__menu__participants__button" href="{% url 'base:tournament_show_participants' tournament.slug %}" >
     <i class="fa-solid fa-users"></i>
     <span>Участники</span>
  </a>
  <a class="tournament__menu__protocol__button" href="{% url 'base:tournament_show_protocol' tournament.slug %}" >
     <i class="fa-solid fa-list"></i>
     <span>Протокол</span>
  </a>
  <a class="tournament__menu__fights__button" href="{% url 'base:tournament_show_fights' tournament.slug %}" >
     <i class="fa-solid fa-people-arrows"></i>
     <span>Поединки</span>
  </a>
  <a class="tournament__menu__results__button" href="{% url 'base:tournament_show_results' tournament.slug %}" >
     <i class="fa-solid fa-chart-simple"></i>
     <span>Результаты</span>
  </a>
  <a class="tournament__menu__medals__button" href="{% url 'base:tournament_show_medals' tournament.slug %}" >
     <i class="fa-solid fa-medal"></i>
     <span>Медали</span>
  </a>
</div>