{% load static i18n %}

{% include 'main.html' %}
{% block title %}
<link rel="stylesheet" href="{% static 'css/tournaments/add_new_athlete.css' %}">
<link rel="stylesheet" href="{% static 'css/tournaments/pre__form__tournaments.css' %}">
<title>{% trans 'Delete Athlete' %}</title>
{% endblock %}

<div class="pre__form__tournaments">
   <div class="form__tournaments">
      
      <form method="POST" action=' '>
         {% csrf_token %}
         <h2></h2>
        <div class="form__delete">
            <a class="link" href="{{request.META.HTTP_REFERER}}">{% trans 'Come Back' %}</a>
            <button type="submit" class="btn btn--delete" id="button">{% trans 'Delete' %}</button>
        </div>
      </form>

   </div>  
</div>
