{% load static i18n %}
<form method="post" style="max-width: 600px">
   <h3>{% trans 'Обновить пароль' %}</h3>
   {% csrf_token %}

   <div class = "form__component">
      <label>{% trans 'Пароль' %}:</label>
      <input type="password" name="password">
   </div>

   <div class = "form__component">
      <label>{% trans 'Подтвердить пароль' %}:</label>
      <input type="password" name="password_confirmation" >
   </div>

   <button type="submit" class="btn">{% trans 'Продолжить' %}</button>
</form>