{% include 'main.html' %}
{% load static i18n %}

{% block title %}
<title>{% trans 'Add New Tournaments' %}</title>
<link rel="stylesheet" href="{% static 'css/tournaments/pre__form__tournaments.css' %}">
{% endblock title %}

{% block content %}
<div class="pre__form__tournaments">
   <div class="form__tournaments">
   
      <h2>{% trans 'Add New Tournaments' %}</h2>
      <form action="" method="post" id="create__tournire" enctype="multipart/form-data">
         {% csrf_token %}
         
         {% if page_type == 'create_tournament__part__one' %}
            {% for field in form %}
            <div class = "form__component">
               {% if field.errors %}
                  <ul class="errorlist">
                     {% for error in field.errors %}
                        <li>{{ error }}</li>
                     {% endfor %}
                  </ul>
               {% endif %}
               <div class="form__field">{{ field.label_tag }}{{ field }}</div>
            </div>
            {% endfor %}
         <button class="btn" type="submit" >continue</button>
         {% endif %}

         {% if page_type == 'create_tournament__part__two' %}            

            <div class="print__logos"></div>
            <div class="form__field">
               <label for="">{% trans 'Upload Logotips' %}:</label>
               <input type = "file" multiple name="files" id="logos" />
            </div>
            
            <div id="print__sponsors__logos"></div>

            <div class="form__field">
               <label for="">{% trans 'Sponsors Logotips' %}:</label>
               <input type = "file" multiple name="sponsors-logotips" id="sponsors-logos" />
            </div>
         <button class="btn" type="submit" id="create__tournire">{% trans 'save' %}</button>
         {% endif %}
      </form>
   </div>  
</div>

<script src="{% static 'js/tourments_logo_load.js' %}"></script>

{% endblock content %}  