{% include 'main.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/tournament.css' %}">
<title>Tournaments</title>
{% endblock title %}

{% block content %}
<div class="home">
   <form class="home__filters" >
      <h3>Tournament Filter</h3>
      <span class="home__card__span"></span>
      {% csrf_token %}
      {{ filter.form }}

      <button class="btn">Sort</button>
   </form>
   <div class="all__tournaments">
      {% if tournaments|length > 0 %}
      {% for tournament in tournaments %}
         <div class="tournament">
            <div class="tournament__info">
               <img src=" /static/media/{{ tournament.logos.all.1.image }}" alt="{{tournament.logos.0.image}}" class="tournament__image">
               <div class="tournament__content">
                  <h3>
                     <a href="{% url 'base:tournamet_show' tournament.slug %}" class="link">{{tournament.title}}</a>
                  </h3>
                  <p>   
                     <i class="fa-solid fa-location-dot"></i> Location: {{tournament.place}}
                     <i class="fa-solid fa-ranking-star"></i> Rang: {{tournament.rang}}
                  </p>
                  <p>
                     <i class="fa-solid fa-users"></i> Participants: 0
                  </p>
                  <p>
                     <i class="fa-solid fa-calendar-days"></i> 
                     Data: {{tournament.startData}} - {{tournament.finishData}}
                     <i class="fa-regular fa-clock"></i>
                     Time: {{tournament.startTime}}
                     status
                  </p>
               </div>
            </div>
            <div class="tournament__menu">
            {% if request.user.profile.userType == 'Админ' or request.user.profile.userType == 'Секретарь' or request.user.is_superuser %}
               
               <a href="{% url 'base:tournamets_admin_update_info' tournament.slug %}" class="btn btn-primary">Change</a>
               {% endif %}
            </div>
         </div>
      {% endfor %}
      {% else %}
      <div class="tournaments__not__found">
         <h2>Tournaments Not Found</h2>
      </div>
      {% endif %}
   </div>   
</div>
{% endblock content %}  