{% include 'main.html' %}
{% load static i18n %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/tournaments/toss.css' %}">
<title>{% trans 'Toss' %} -  {{tournament.slug}}</title>
{% endblock title %}
   
{% block content %}
<input type="hidden" id="tossTitle" value="{{tournament.slug}}" >
<div class="toss">
   <div class="toss__header">
      <h3 class="toss__header__title">{{tournament.title}}</h3>
      <form action="">
         <select id='weight_category'>
            <option value="" selected disabled >Select Category</option>
         </select>
         <select id='weight'></select>
         <button id="autoTossGenerate" class="btn">generate</button>
      </form> 
   </div>
   <div class="toss__content"></div>
</div>

<script src="{% static 'js/toss.js' %}"></script>

{% endblock content %}  