{% include 'main.html' %}
{% load static i18n %}

{% block title %}
   <link rel="stylesheet" href="{% static 'css/tournaments/weight_categories.css' %}">
   <title>{% trans 'Add' %}</title>
{% endblock title %}

{% block content %}
  <div class="home add_weight">
   <div class="categories">
      <form action="" class="create__tournament" method="POST">
      <h2>{% trans 'Add weight' %}</h2>
         {% csrf_token %}
         <div class="form__component">
            <label for="">{% trans 'Enter weight' %}:</label>
            <input type="text" name="weight" placeholder="{% trans 'Add weight' %}..." class="input">
         </div>
         <div class="show__all__weight">
            {% for weight in weight_category.weight.all %}
               <span class="one__weight">
                  <h3>{{weight.name}}</h3>
                  <a href="{% url 'base:weight_category_weight_delete' tournament.slug weight_category.id weight.id %}" >X  </a>
               </span>
            {% endfor %}
         </div>
         <button class="btn" >Save</button>
      </form>
   </div>
   <a
   {% if weight_category.weight.count == 0 %}style='opacity: .1'{% endif %}
   class="btn btn--continue"
   href="{% url 'base:weight_categories' tournament.slug %}"
   >
      Continue <i class="fa-solid fa-arrow-right"></i>
   </a>
  </div>
{% endblock content %}