{% load static i18n %}
<link rel="stylesheet" href="{% static 'css/profile/athletes_profile.css' %}">

<h2>
   <i class="fa-solid fa-users"></i>
   {% trans 'My athletes' %}
   <span>{{participants.count}}</span>
</h2>

<form class="athletes__filter">
   <input type="text" name="form_type" value="change__status" style="display: none">
   <div class = "form__component">
      <input type="text" placeholder="search..." name="{% trans 'search' %}..">
   </div>
   <div class="form__component">
      <select name="filter" id="">
         <option value="" selected disabled>{% trans 'Filter' %}</option>
         <option value="new">{% trans 'new' %}</option>
         <option value="last">{% trans 'last' %}</option>
      </select>
   </div>
   {% if  request.user.profile.userType == 'Админ' or request.user.is_superuser or request.user.profile.userType == 'Секретарь' %}
   <a href="{% url 'base:add_new_athlete' %}" class="btn btn--primary">{% trans 'Add New Athlete' %}</a>
   {% endif %}
</form>

<div class="athletes__all">
   {% for athlete in participants %}
   <div class="athlete"> 
      <h3>{{athlete.firstName}} {{athlete.lastName}} {{athlete.thirdName}}</h3>
      <h5>{{athlete.coach}}</h5>
      <div class="athlete__info">
         <div class="athlete__info__left">
            <div class="athlete__info__left__desc">
               <h4><i class="fa-solid fa-calendar-days"></i> {% trans 'Year' %}</h4>
               <span>{{athlete.year}}</span>
            </div>
            <div class="athlete__info__left__desc">
               <h4><i class="fa-solid fa-certificate"></i> {% trans 'Discharge' %}</h4>
               <span>{{athlete.discharge}}</span>
            </div>
            <div class="athlete__info__left__desc">
               <h4><i class="fa-solid fa-person-half-dress"></i> {% trans 'Gender' %}</h4>
               <span>{{athlete.gender}}</span>
            </div>
            <div class="athlete__info__left__desc">
               <h4>{% trans 'Weight' %}</h4>
               <span>{{athlete.weight}}</span>
            </div>
         </div>
         <div class="athlete__info__right">
            <a href="{% url 'base:update_athlete' athlete.id %}" class="btn">Change</a>
            <a href="{% url 'base:delete_athlete' athlete.id %}" class="btn btn--delete">Delete</a>
         </div>
      </div>
   </div>
   {% endfor %}
</div>
