.pre__athlete_regisration {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 3%;
   width: 100%;   
}
.pre__athlete_regisration h2 {
   margin-bottom: 10px;
}
.athlete_regisration {
   display: flex;
   justify-content: center;
   align-items: start   ;
   width: 100%;
   padding:  10px;
   gap: 3%
}

.athlete_regisration__left {
   padding: 2%;
   background-color: white;
   border-radius: 10px;
   box-shadow: 3px 3px 10px rgb(20,20,20,.1);
}
.athlete_regisration__left__header {
   display: flex;
   justify-content: start;
   align-items: center;
   width: 100%;
   gap: 10px;
   border-radius: 10px;
   margin: 10px 0;
   /* border-bottom: 1px solid rgb(20,20,20,.1); */
}
.athlete_regisration__left__header a {
   background-color:rgb(87, 127, 220, .1);
   padding: 6px 10px;
   border-radius: 6px;
   margin-bottom: 4px;
   transition: all .3s linear;
   box-shadow: 3px 3px 10px rgb(20,20,20,.1);
}
.athlete_regisration__left__header .active {
   background-color:rgb(87, 127, 220, .9);
   color: white;
}
.athlete_regisration__left__header a:hover{
   background-color:rgb(87, 127, 220, .9);
   color: white;
}
.athlete_regisration__left__body {
   display: flex;
   justify-content: start;
   align-items: start;
   flex-direction: column;
   row-gap: 10px;
}
.athlete_regisration__left__person {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   min-width: 700px;
   background-color: rgb(20,20,20,.05);
   margin-bottom: 10px;
   border-bottom: 6px;
   box-shadow: 4px 4px 10px rgba(0,0,0,.05);
   padding: 6px 10px;
   border-radius: 10px;
   gap: 15px
}
.athlete_regisration__left__person:hover{
   background-color: rgb(87, 127, 220, .1);
}
.athlete_regisration__left__person b {
   min-width: 150px;
   width: 100%;
}
.athlete_regisration__left__person input {
   width: 40px ;
   height: 40px;
   border-radius: 6px;
}
.athlete_regisration__right {
   padding: 2%;
   box-shadow: 3px 3px 10px rgb(20,20,20,.1);
   background-color: white;
   border-radius: 10px;
}
.athlete_regisration__weight__category {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-bottom: 10px;
}
.athlete_regisration__weight__category h3 {
   margin: 10px 0 15px;
   font-size: 18px;
}
.athlete_regisration__weights {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   gap: 15%;
}
.athlete_regisration__weight {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   row-gap: 1px;
   margin-bottom: 10px;
   padding: 4px;
   transition: all .3s linear;
   cursor: default;
}
.athlete_regisration__weight:hover {
   border-radius: 6px;
   background-color: rgb(87, 127, 220, .1);
}

.athlete__weight {
   padding: 10px;
   font-size: 18px;
   min-width: 70px;
}
.athlete__weight:hover {
   background-color:  rgb(87, 127, 220, .5);
   color: white;
   border: 1px solid white;
}