@import './variables.css';

.home {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   padding: 10px 3vw;
   height: 100%;
   overflow: none;
}
.home__card {
   display: grid;
   grid-template-columns: 1fr 3fr;
   justify-content: space-between;
   align-items: start;

   width: 100%;
   max-width: 1600px;
   /* height: 100%; */
   height: 80vh;
   margin-bottom: 3vh;
   margin-top: 3vh;

   /* background-color:  var(--white); */
   background-color: white;
   border-radius: 5px;
   box-shadow: 1px 1px 10px rgb(20,20,20, .1);
}
.home__card__left {
   max-width: 300px;
   height: 100%;
   width: 100%;

   padding: 5px;
   background-color: rgba(87, 127, 220, 0.06);
   padding: 10px;
   border-radius: 5px 0 0 5px;
} 
.home__card__left__about{
   display: flex;
   justify-content: start;
   align-items: center;
   flex-direction: column;
   width: 100%;
   margin-bottom: 10px;
   gap: 10px
}
.home__card__left__about img {
   width: 150px;
   height: 150px;
   /* max-height: 270px; */
   border-radius: 5px;
   border-radius: 150px;
   object-fit: cover;
   border: 1px solid rgb(20,20,20, .05);
   padding: 3px;  
}
.home__card__left__about h4 {
   font-size: 22px;
}
.home__card__left__menu {
   margin: 10px 0;
   width: 100%;
}
.home__card__left__menu a{
   display: flex;
   justify-content: start;
   align-items: center;
   width: 100%;
   padding: 10px;
   background-color: rgb(20,20,20,.05);
   border-radius: 10px;
   margin-bottom: 10px;
   gap: 10px;
   font-size: 18px;
   transition: all .3s linear;
}
.home__card__left__menu a:hover {
   background-color: rgba(87, 127, 220, 0.1);
   color: rgba(87, 127, 220, 1);
}
.home__card__left__menu__delete {
   background-color: rgba(220, 87, 87, 0.05) !important;
}
.home__card__left__menu__delete:hover {
   background-color: rgba(220, 87, 87, 0.1) !important;
   color: rgb(220, 87, 87) !important;
}

.home__card__span {
   display: block;
   content: '';
   width: 100%;
   height: 1px;
   margin: 2% 0;
   background-color: rgb(20,20,20, .1);
}
.home__card__right {
   padding: 10px;
   width: 100%;
   height: 80vh;
   overflow-y: auto;
}
.home__card__right h2 {
   margin: 10px 0;
}
.home__card__right__image {
   max-width: 200px;
   width: 100%;
   height:200px;
   border-radius: 5px;
}
.home__card__right__title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
.update__icon {
   color:  var(--black);
   padding: 4px 6px;
   border-radius: 10px;
   transition: all .3s linear;
}
.update__icon:hover {
   background-color: rgb(79, 138, 139, .15);
}
.home__card__right__info {
   padding-left: 30px;
   margin: 5px 0;
}
.home__card__right__info div {
   margin-bottom: 3px;
}
form {
   padding: 10px;
}
form h3 {
   margin-bottom: 10px;
}

.profile__right__passwords {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   padding: 10px 0;
   margin-bottom: 10px;
   gap: 10px
}

.profile__danger {
   border: 2px solid #dc5757;
   margin: 10px 0 20px;
   border-radius: 14px;
}
.profile__danger__name {
   background-color: #dc5757;
   width: 100%;
   
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   color: rgb(255, 186, 186);
   border-radius: 10px;
}
.profile__right__passwords {
   padding: 5px 10px;
   border-radius: 5px;
}

/* Danger Zone Buttons */
.profile__right__passwords a {
   font-size: 18px;
   margin: 4px 0;
   color: #dc5757;
   background-color: rgb(255, 186, 186);
   padding: 10px 10%;
   border: 2px solid #dc5757;
   transition: all .3s linear;
   border-radius: 10px;
}
.profile__right__passwords a:hover {
   color: rgb(255, 186, 186);
   background-color: #dc5757;
   border-color: rgb(255, 186, 186);
   cursor: pointer;
}
.delete__Account {
   font-size: 18px;
   margin: 4px 0;
   padding: 10px 10%;
   transition: all .3s linear;
   color: rgb(255, 186, 186) !important;
   background-color: #dc5757 !important;
   border-color: rgb(255, 186, 186) !important;
   cursor: pointer;
   border-radius: 10px;
}
.delete__Account:hover {
   color: #dc5757 !important;
   background-color: rgb(255, 186, 186) !important;
   border: 2px solid #dc5757 !important;
}

/*  Delete Account */
.delete__account__choices {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;   
}
.delete__account__choices a {
   transition:  all .3s linear;
}
.delete__account__choices a:hover {
   color: var(--lightblue);
}
select {
   background-color: transparent;
   border: 1px solid rgb(0,0,0,.1);
   padding: 4px 8px;
   font-size: 18px;
}
.change__user__type {
   max-width: 400px;
   width: 100%;
   border-top: 1px solid rgb(20,20,20,.1);
   margin-top: 10px;
}

@media screen and (max-width: 700px) {
   .home {
      padding: 10px 2vw;
   }
   .home__card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: transparent;
       padding: 0;
       box-shadow: none;
   }
   .home__card__left {
      background-color: transparent;
      padding: 0;
   }
   .home__card__right {
      padding: 0;
   }
   .home__card__right form {
      padding: 0;
   }
   .home__card__right__info {
      padding-left: 0;
   }
   .home__card__left__about {
      flex-direction: row;
   }
   .home__card__left__about img {
      width: 100%;
      height: 100%;
      max-width: 120px;
   }
   .home__card__left__about h4 {
      font-size: 20px;
  }
  .profile__right__passwords {
      flex-direction: column;
  }
  .profile__right__passwords a {
      width: 100%;
      text-align: center;
  }
  .home__card__left {
   max-width: 100%;
  }
}