@import './variables.css';

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   text-decoration: none;
   outline: none;
}
body {
   background-color: var(--white);
   color: var(--black);
   font-size: 18px;
   font-family: monospace;
   overflow-x: hidden;
}

img {
   object-fit: cover;
}
a {
   transition: all .3s linear;
}
header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 60px;
   background-color: #fff;
   z-index: 1000;
}
.header__center {
   display: flex;
   justify-content: center;
   align-items: center;
}
.header__center  a {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 6px;
   transition: all .3s linear;
   height: 100%;
   padding: 22px 16px;
   border-radius:  0 0 5px 5px;
}
.header__center a:hover {
   background-color: #577fdc;
   color: white;
}

.header__right {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px
}
.mobile__menu {
   display: none;
}
header form {
   background-color: transparent !important;
   margin: 0;
   padding: 0;
}

@media screen and (max-width: 700px) {
   header {
      height: 80px;
      justify-content: space-around;
   }
   .mobile__menu {
      display: block;
      font-size: 28px;
   }
   .header__center {
      display: none;
      flex-direction: column;
      width: 100vw;
      top: 80px;
      position:fixed;
      background-color: white;
      z-index: 10000;
      height: 280px;
   }
   .header__center a {
      width: 100%;
   }
   .header__right {
      display: none;
      flex-direction: column;
      position:fixed;
      width: 100%;
      top:340px;
      background-color: white;
      padding-bottom: 10px;
      z-index: 10000;
      box-shadow: 0 10px 10px rgb(20,20,20,.1);
   }
   .header__right {
      padding: 22px 16px;
   }
   .header__right a {
      padding: 10px 0;
   }
   .header__right a:hover {
      color: black;
   }
   .header__center a:hover {
      background-color: transparent;
      color: black;
   }
   #changeLanguage {
      width: 90vw;
   }
}

#changeLanguage {
   font-size: 16px;
   transition: all .3s linear;
   cursor: pointer;
   margin-bottom: 0;
}
#changeLanguage:hover,  #changeLanguage:focus {
   border: 2px solid var(--lightblue);
   color: var(--lightblue);
}
#changeLanguage option {
   cursor: pointer;
   padding: 4px ;
}

::selection {
   background-color: #5f80cd;
   color: var(--white);
}
::-webkit-scrollbar {
   background-color: rgb(20,20,20, .02);
   width: 10px;
   transition: all .3s linear;
}
::-webkit-scrollbar-thumb {
   background-color:#5f80cd ;
   border-radius: 2px;
}
::-webkit-scrollbar:hover {
   width: 14px;
}

.global__message {
   position: fixed;

   top: 15vh;
   left: 2vw;
   height: 40px;
   border-radius: 6px;

   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   padding: 5px 10px;
   background-color: #a1a1a1;
   color: white;
   font-weight: 600;

   transition: all .3s ease-in-out;
   z-index: 2;
}
.global__message_close {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   width: 30px;
   cursor: pointer;
}
.global__message_close::after, .global__message_close::before {
   display: block;
   content: "";
   width: 3px;
   height: 15px;
   background-color: #fff;
   border-radius: 4px;
   position: absolute;
   opacity: .5;

}

.global__message_close::after {
   rotate: -45deg;
}

.global__message_close::before {
   rotate: 45deg;
}

@media screen and (max-width:700px) {
   .global__message {
      top: 80px
   }
}
.message_close {
   padding: 10px 20px;
   cursor: pointer;
   transition: all .3s ease-in-out;
}
.message_close:hover {
   background-color: #dc5757;
   color: var(--white);
}

/* btn */
.btn {
   font-size: 16px;
   padding: 13px 30px 13px;
   cursor: pointer;
   border: none;
   position: relative;
   background-color: rgba(0, 0, 0, 0);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   background-color: var(--lightblue);
   color: white;
   border-radius: 5px;
   transition: all .3s linear;

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px
 }
 .btn:hover {
   background-color: white;
   box-shadow: 0px 0px 10px rgb(20,20,20,.1);
   color: black;
}
 a {
   color: black
 }

.errorlist li {
   color: #dc5757;
   list-style-type: none;
}
.link {
   text-decoration: none;
   color: var(--black);
   transition: all .3s linear
}
.link:hover {
   color: #577fdc;
}
.link-logo {
   color: black;
   margin-left: 3vw;
   margin-right: 3vw
}
.link-logo b {
   font-weight: bold;
   font-size: 26px;
}
.link-logo  span {
   font-size: 16px;
   margin-left: -4px;
   color: #5f80cd ;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin-bottom: 6px;
   gap: 3%;
}
.form__component {
   display: flex;
   justify-content: center;
   align-items: start;
   flex-direction: column;
   width: 100%;
   margin-bottom: 6px;
}
.form__component label {
   font-size: 14px;
   color: rgb(20,20,20,.5);
   transition: all .3s linear;
   margin-bottom: 2px;

}
.form__component input, select, textarea {
   width: 100%;
   padding: 10px 10px;
   font-size: 18px;
   margin-bottom: 6px;
   min-width: 100%;
   background-color: #fff;
   border: 2px solid rgb(20,20,20,.2);
   border-radius: 10px;
   transition: all .3s linear;
}
.form__component:hover  input {
   /* border-color: rgb(32, 32, 32, .8); */
   border-color: #577fdc;
   box-shadow: 0 0 10px rgb(20,20,20, .1);
}
input:focus {
   /* border-color: #202020; */
   border-color: #577fdc;
}

.form__component:hover  label {
   color: rgb(32, 32, 32, .8);
}
.form__component:focus  label {
   color: #202020;
}

.form__component:hover  select {
   color: rgb(32, 32, 32, .8);
}
.form__component:focus  select {
   color: #202020;
}

.form__field {
   max-width: 700px;

   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: start;
   width: 100%;
}
.form__field__category {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-bottom: 10px;
   border-radius: 5px;
   padding: 5px;
   transition: all .3s linear;
}
.form__field__category:hover {
   background-color: rgb(79, 138, 139, .1);
}
.form__field__category h3 {
   font-size: 18px;
   width: 100%;
}
.form__field__category input {
   max-width: 60px;
   cursor: pointer;
   width: 30px;
   height: 30px;
   margin: 0 10px;
}

/*  Delete Account */
.delete__account__choices {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
.delete__account__choices a {
   transition:  all .3s linear;
}
.delete__account__choices a:hover {
   color: var(--lightblue);
}

.home__card__span {
   display: block;
   content: '';
   width: 100%;
   height: 1px;
   margin: 2% 0;
   background-color: rgb(20,20,20, .1);
}


.title {
   background-color: #577fdc;
   color: #fff;
   padding: 20px 5%;
}

@media screen and (max-width: 700px) {
   body {
      font-size: 16px;
   }
}
.btn--primary {
   background-color: rgb(20,20,20, .1);
   color: rgb(20,20,20,.4);
}

input[type="checkbox"] {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   border-style: solid;
   border-width: 2px;
   border-color: rgb(20,20,20,.2);
   border-radius: 6px;
   width: 30px;
   height: 30px;
   min-width: 30px;
   max-width: 30px;
   cursor: pointer;
}
input[type="checkbox"]:checked {
   background-color: #577fdc;
   border-color: #577fdc;
}

.lds-roller {
   display: inline-block;
   position: relative;
   width: 80px;
   height: 80px;
 }
 .lds-roller div {
   animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
   transform-origin: 40px 40px;
 }
 .lds-roller div:after {
   content: " ";
   display: block;
   position: absolute;
   width: 7px;
   height: 7px;
   border-radius: 50%;
   background: #577fdc;
   margin: -4px 0 0 -4px;
 }
 .lds-roller div:nth-child(1) {
   animation-delay: -0.036s;
 }
 .lds-roller div:nth-child(1):after {
   top: 63px;
   left: 63px;
 }
 .lds-roller div:nth-child(2) {
   animation-delay: -0.072s;
 }
 .lds-roller div:nth-child(2):after {
   top: 68px;
   left: 56px;
 }
 .lds-roller div:nth-child(3) {
   animation-delay: -0.108s;
 }
 .lds-roller div:nth-child(3):after {
   top: 71px;
   left: 48px;
 }
 .lds-roller div:nth-child(4) {
   animation-delay: -0.144s;
 }
 .lds-roller div:nth-child(4):after {
   top: 72px;
   left: 40px;
 }
 .lds-roller div:nth-child(5) {
   animation-delay: -0.18s;
 }
 .lds-roller div:nth-child(5):after {
   top: 71px;
   left: 32px;
 }
 .lds-roller div:nth-child(6) {
   animation-delay: -0.216s;
 }
 .lds-roller div:nth-child(6):after {
   top: 68px;
   left: 24px;
 }
 .lds-roller div:nth-child(7) {
   animation-delay: -0.252s;
 }
 .lds-roller div:nth-child(7):after {
   top: 63px;
   left: 17px;
 }
 .lds-roller div:nth-child(8) {
   animation-delay: -0.288s;
 }
 .lds-roller div:nth-child(8):after {
   top: 56px;
   left: 12px;
 }
 @keyframes lds-roller {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }
