@import './variables.css';

.home {
   /* display: grid; */
   /* grid-template-columns: 1fr 4fr; */
   display: flex;
   justify-content: start;
   align-items: start;
   width: 100%;
   padding: 10px 2vw;
   margin-top: 20px;
   gap: 20px;
}
.pre__home {
   padding: 10px 2vw;
   margin-top: 20px;
}
.home__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.home__header a {
   font-size: 24px;
   transition: all .3s linear;
}
.home__header a:hover {
   color: #577fdc;
}

.home__filters {
   display: flex;
   justify-content: start;
   align-items: flex-start;
   flex-direction: column;
   /* display: none; */

   width: 25%;
   background-color: white;
   border-radius: 10px;
   padding: 10px;
   row-gap: 10px;
   padding-bottom: 2%;
   min-width: 300px;
}
.home__filters label {
   width: 100%;
}
select {
   width: 100%;
   background-color: white;
   border: 1px solid var(--black);
   border-radius: 10px;
   font-size: 18px;
   padding: 6px ;
}
input {
   width: 100%;
   background-color: white;
   border: 1px solid var(--black);
   border-radius: 10px;
   font-size: 18px; 
   padding: 6px ;
}
.all__tournaments {
   width: 100%;
   /* display: flex;
   align-items: start;
   flex-wrap: wrap; */
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1%
}
.tournament_list {
   grid-template-columns: 1fr 1fr;
}

.tournament {
   background-color: white;
   padding: 12px;
   margin: 10px 0px;
   transition:  all .3s linear;
   width: 100%;
   border-radius: 10px;
   height: 100%;
}
.tournament:hover  {
   box-shadow: 0 0 10px 2px rgb(20,20,20,.1);
}
.tourname__header {
   display: flex;
   justify-content: start;
   align-items: start;
   width: 100%;
   gap: 10px;
   margin-bottom: 10px;
}
.tourname__header img {
   width: 80px;
   height: 80px;
   object-fit: cover;
   border-radius: 5px;
}
.tourname__header a {
   font-size: 22px;
   font-weight: bold;
   transition: all .3s linear;
}
.tourname__header a:hover {
   color: #577fdc;
}
.tournament__description__line {
   margin-bottom: 6px;
   display: flex;
   justify-content: start;
   align-items: start;
   gap: 4px;
}
.tournament__description__line h4 {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2px;
}
.tournament__description__line h4 i {
   margin-right: 6px;
}
.tournament__categories {
   display: flex;
   justify-content: start;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   margin-top: 5px;
   margin-bottom: 30px;
   gap: 5px;
   row-gap: 5px;

}
.tournament__buttons {
   margin-bottom: 10px;

   display: flex;
   justify-content: start;
   align-items: start;
   flex-wrap: wrap;
   gap: 6px;
   row-gap: 6px;
}
.tournament__category {
   padding: 4px 6px;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 600;
   border-width: 3px;
}


@media screen and (max-width: 700px) {
   .home {
      flex-direction: column;
   }
   .home__filters {
      width: 100%;
      padding-bottom: 8%;
   }
   .all__tournaments {
      width: 100%;
   }
}