{% load static i18n %}  
<h2>{% trans 'Update The Tournament' %}</h2>
<form action="" method="post" id="create__tournire" enctype="multipart/form-data">
{% csrf_token %}

{% for field in tournament_form %}
   <div class="form__component">
      {% if field.errors %}
         <ul class="errorlist">
            {% for error in field.errors %}
               <li>{{ error }}</li>
            {% endfor %}
         </ul>
      {% endif %}
      {{ field.label_tag }}{{ field }}
   </div>
{% endfor %}

{% if weight_categories_selected|length %}
   <div class="form__component">
      <label>{% trans 'Choose Weight Category for delete' %}:</label>
      {% for i in weight_categories_selected %}
         <div class="form__field__category">
            <input type="checkbox" value="{{i.id}}" name="weight-categories-chooised-for-delete">
            <h3>{{i.slug}}</h3>
         </div>
      {% endfor %}
   </div>
{% endif %} 

{% if weight_categories_unselected|length > 0 %}
   <div class="form__component">
      <label for="">Choose Weight Category(CTRL+click on category):</label>
      <select name="weight-categories-chooised-for-upload" id="" multiple>
         {% for weight_categorie in weight_categories_unselected %}
            <option  
               value="{{ weight_categorie.id }}"
            >
            {{ weight_categorie.slug }}
            </option>
         {% endfor %}
      </select>
      <p>{% trans "You don't see important category"  %}? <a href="{% url 'base:weight_categories' %}" class="link">{% trans 'Add New Category' %}</a></p>   
   </div>
{% endif %}
                     
   <fieldset class="photos">
   <legend>{% trans 'Delete Logotips' %}:</legend>
      {% for photo in tournire.logos.all %}
         <div class="photo">
            <input 
               type="checkbox" 
               id="delete-logotips" 
               name="delete-logotips" 
               value="{{ photo.id }}" 
               class="tournament__input" />
            <img 
            src="/static/media/{{photo.image}}" 
            alt="{{photo.image}}" 
            class="tournament__image" />
         </div>
      {% endfor %}
   </fieldset>

   <div class="print__logos"></div>
   <div class="form__component">
      <label for="">{% trans 'Upload New Logotips' %}:</label>
      <input type = "file" multiple name="files" id="logos"/>
   </div>

   <fieldset class="photos">
      <legend>{% trans 'Delete Sponsors Logotips' %}:</legend>
         {% for sponsor in tournire.sponsors.all %}
            <div class="photo">
               <input 
                  type="checkbox" 
                  id="scales" 
                  name="delete-sponsors" 
                  value="{{ sponsor.id }}"
                  class="tournament__input" />
               <img 
                  src="/static/media/{{sponsor.image}}" 
                  alt="{{sponsor.image}}" 
                  class="tournament__image" />
            </div>
         {% endfor %}
   </fieldset>

   <div id="print__sponsors__logos"></div>

   <div class="form__component ">
      <label for="">{% trans 'Sponsors Logotips' %}:</label>
      <input type = "file" multiple name="sponsors-logotips" id="sponsors-logos"/>
   </div>
   
<button class="btn" type="submit" id="button">{% trans 'save' %}</button>
</form>