.athletes__filter {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin: 10px 0;
   gap: 10px;
}
.athletes__filter a {
   text-align: center;
}
.form__component {
   width: 60%;
}
.athletes__filter .form__component {
   margin-bottom: 0;
}
.athletes__filter .btn {
   font-size: 18px;
   padding: 14px ;
}
.form__component select {
   background-color: white;
   padding: 10px 10px;
   border: 2px solid rgb(20,20,20,.2);
   margin-bottom: 0px;
   max-width: 30%;
}
input {
   margin-bottom: 0px !important;
}

h2 span {
   font-size: 18px;
   background-color: rgb(0,0,0,.2);
   padding: 4px;
   border-radius: 100px;
}
.btn--primary {
   min-width: 220px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0
}
.btn--delete {
   background-color: #dc5757;
}
.btn--delete:hover {
   background-color: black;
   color: white;
}

/* athletes__all */
.athletes__all {
   display: grid;
   grid-template-columns: 1fr 1fr;

   gap: 1%;
   row-gap: 2%;
   width: 100%;
   height: 100%;
}
.athlete__info__right {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   gap: 6px;
}
.athlete__info__right .btn {
   width: 100%;
}
.athlete {
   /* background-color: var(--white); */
   border: 2px solid var(--white);
   padding: 10px;
   border-radius: 10px;
   transition: all .3s linear;
   width: 100%;
   max-width: 450px;
}
.athlete h5 {
   color: darkgray;
   margin-bottom: 4px;
}
.athlete:hover {
   scale: 1.02;
   box-shadow: 0 0 10px rgb(0,0,0,.1);
}
.athlete__info {
   display: grid;
   grid-template-columns: 2fr 1fr;
   width: 100%;
   gap: 8px;
   font-size: 16px;
}
.athlete__info__left__desc {
   display: flex;
   justify-content: space-between;
   align-items: start;
   width: 100%;
   margin-bottom: 5px;
   gap: 10px;
}
.athlete__info__left__desc h4 {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4px;
}
.athlete__info__left__desc span {
   font-size: 16px;
   font-weight: 300;
   text-align: right;
}

@media screen and (max-width: 700px) {
   .athlete__info {
      flex-direction: column;    
   }
   .athlete__info__right {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      
   }
   .athlete__info__left {
      width: 100%;
   }
   .athletes__filter {
      flex-direction: column;
   }
}
