form {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   max-width:100%;
   padding: 0 10%;
   margin-bottom: 0vh;
   margin-bottom: 10%;
}
.form__tournaments__pre__header {
   display: flex;
   justify-content: start;
   align-items: center;
   width: 100%;
   margin: 3vh 0;
}
.form__tournaments__pre__header p {
   text-align: center;
}
.form__tournaments__pre__header p a {
   margin: 0 4px;
}
.form__tournaments__pre__header p span {
   font-weight: 600;
   margin: 0 4px;
}
.form__tournaments__pre__header p a:first-child {
   color: rgb(20,20,20,.6);
}
.form__tournaments__pre__header p a:hover {
   color: #577fdc;
}
.form__tournaments__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 10px 0;
   margin-bottom: 10px 0;
}
.form__tournaments__header__buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.form__more {
   display: grid;
   grid-template-columns: 2fr 1fr;
   width: 100%;
   gap: 20px;
   margin-top: 10px;
}
.form__section {
   background-color: white;
   padding: 20px;
   box-shadow: 0 0 10px rgb(20,20,20,.06);
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: start;
   flex-direction: column;
   margin-bottom: 10px;
   border-radius: 8px;
}
.form__section h3 {
   margin-bottom: 12px;
   color: rgb(20,20,20,.85);
}
.form__chapter {
   display: flex;
   flex-direction: column;
   width: 100%;
}