<nav>
   <div class="nav__menu">
      <a href="" class="link">
         Tournaments
         <i class="fa-solid fa-calendar-days"></i>
      </a>
      <a href="" class="link">
         Medals
         <i class="fa-solid fa-medal"></i>
      </a>
      <a href="" class="link">
         Favorites
         <i class="fa-regular fa-star"></i>
      </a>
      <a href="" class="link">
         Judges
         <i class="fa-solid fa-user-group"></i>
      </a>
   </div>
   <div class="nav__buttons">
      <a href="/registration" class="link">Registration</a>
      <a href="/login" class="link">Login</a>
   </div>
</nav>