.tournament__participants {
    height: 100%;
    min-height: 90vh;
    margin-left: 90px;
    width: 100%;
    padding-bottom: 10vh;
}
.toss__content__left {
    display: grid;
    grid-template-columns: 65% 35%;
    width: 100%;
    max-width: 35%;
    height: 100%;
}
.tournament__participants__right {
    max-width: 65%;
    width: 100%;
    padding: 4px 6px;
}
.tournament__participants__left__category {
    border-right: none
}
.toss__participant__content__category {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 60% 30%;
}
.toss__participant__content__category__spec {
    background-color: transparent;
    border: none;
}
.toss__participant__content__category__spec:hover {
    scale: 1;
    box-shadow: none;
}
.toss__participant__content__category h4 {
    font-size: 16px;
    font-weight: 400;
}
.toss__participant__content__category__spec h4 {
    font-weight: bold;
}
#ContentRight h2 {
    margin: 2vh 0 3vh ;
    background-color: #5f80cd;
    border-radius: 6px;
    padding: 6px 10px;
    color: white;
    max-width: max-content;
}