.tournament__participants__right {
    overflow-x: auto;
}
.toss__content__place {
    max-width: 350px;
    position: relative;
}
.toss__content__place h3 {
    font-weight: 600;
    font-size: 16px;
}
.toss__content__place:last-child {
    margin: 0;
}
.protocol__content__category {
    background-color: transparent;
    border: none;
    box-shadow: none;
    position: relative;
}
.toss__content__place span {
    display: block;
    content: "";
    width: 6px;
    height: 100%;
    background-color: #202020;
    border-radius: 0 6px 6px 0;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
}
.protocol__content__category:hover {
    scale: 1;
    box-shadow: none;
}
.toss__content__four__place {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-bottom: 16px;
}
.toss__content__four__place h4 {
    margin: 12px 0;
    font-size: 22px;
    text-align: center;
    width: 100%;
}
.toss__content__two__place {
    margin-bottom: 12px;
    position: relative;
}
.toss__content__two__place__fight::after {
    display: block;
    content: "";
    width: 10px;
    height: 100%;
    background-color: #202020;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
}
