{% load static i18n  %}

<header>
   <a href="/" class="link-logo">
      <b>JUDO</b>

      <span>
         <span>KZ</span>
      </span>
   </a>
   
   <div class="mobile__menu">
      <i class="fa-solid fa-bars"></i>
   </div>

   <div class="header__center">
      <a href="{% url "base:show_tournaments" %}" class="link">
         {% trans 'Tournaments' %}
         <i class="fa-solid fa-calendar-days"></i>
      </a>
      <a href="{% url "base:medals" %}" class="link">
         {% trans 'Medals' %}
         <i class="fa-solid fa-medal"></i>
      </a>
      <a href="{% url "base:sorting" %}" class="link">
         {% trans 'Sorting' %}
         <i class="fa-solid fa-arrow-up-wide-short"></i>
      </a>
      <a href="{% url "base:instructions" %}" class="link">
         {% trans 'Instructions' %}
         <i class="fa-solid fa-circle-info"></i>
      </a>
   </div>

   <div class="header__right">
      {% if request.user.is_authenticated  %}
      {% if request.user.profile.userType == 'Админ' or request.user.profile.userType == 'Секретарь' or request.user.is_superuser %}
         <a href="{% url "base:create_tournamets" %}" class="link" 
         style="font-size: 30px; font-weight: bold;">
            + 
            <!-- {% trans 'Add New Tournament' %} -->
         </a>
      {% endif %}
   <a href="{% url 'base:show_profile' request.user.username %}" class="link">{{request.user.username}}</a>
   <a href="{% url 'base:logout' %}" class="link">
      {% trans 'Logout' %}
   </a>
{% else %}
   <a href="{% url 'base:registration' %}" class="link">{% trans 'Registration' %}</a>
   <a href="{% url 'base:login' %}" class="link">{% trans 'Login' %}</a>
{% endif %}
   <form action="{% url 'set_language' %}" method="post" id="LanguageForm">{% csrf_token %}
      <input name="next" type="hidden" value="{{ redirect_to }}">
      <select name="language" id="changeLanguage" class='change__language' >
         {% get_current_language as LANGUAGE_CODE %}
         {% get_available_languages as LANGUAGES %}
         {% get_language_info_list for LANGUAGES as languages %}
         {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                     selected{% endif %}>
                  {% comment %} {{ language.name_local }}  {% endcomment %}
                  {{ language.code }}
            </option>
         {% endfor %}
      </select>
      <!-- <button type="submit" class="btn">{% trans 'Translate' %}</button> -->
   </form>
   </div>

</header>

<script>
   document.getElementById("changeLanguage").addEventListener("change", function() {
      document.getElementById("LanguageForm").submit();
   });
</script>