{% load static i18n %}
{% include 'main.html' %}
{% block title %}
<link rel="stylesheet" href="{% static 'css/tournaments/add_new_athlete.css' %}">
<link rel="stylesheet" href="{% static 'css/tournaments/pre__form__tournaments.css' %}">
<title>{% trans 'Добавить нового спортсмена' %}</title>
{% endblock %}

<div class="pre__form__tournaments">
   <div class="form__tournaments">
      
      <form method="POST" action=''>
         {% csrf_token %}
         {% if page_type == 'add_new_athlete'  %}
            <h2>{% trans 'Добавить нового спортсмена' %}</h2>
         {% else %}
         <h2>{% trans 'Обновить информацию' %}</h2>
         {% endif %}
         {% comment %} {% for field in form  %}
            <div class = "form__component">
               {% if field.errors %}
               <ul class="errorlist">
                  {% for error in field.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
               </ul>
               {% endif %}
               {{ field.label_tag }} {{ field }}
            </div>
         {% endfor %} {% endcomment %}
            
         <div class="form__component">
            <label for="">{%  trans 'Имя' %}:</label>
            {{ form.firstName }}
         </div>

         <div class="form__component">
            <label for="">{%  trans 'Фамилия' %}:</label>
            {{ form.lastName }}
         </div>

         <div class="form__component">
            <label for="">{%  trans 'Отчество' %}:</label>
            {{ form.thirdName }}
         </div>

        <div class="form__row">
            <div class="form__component">
               <label for="">{%  trans 'Год рождения' %}:</label>
               {{ form.year }}
            </div>

            <div class="form__component">
               <label for="">{%  trans 'Пол' %}:</label>
               {{ form.gender }}
            </div>
        </div>

         <div class="form__component">
            <label for="">{%  trans 'Пояс' %}:</label>
            {{ form.discharge }}
         </div>

         
         
         <div class="form__component">
            <label>{% trans 'Тренер' %}: </label>
            <input 
               type="text" 
               name="coach" 
               class='coach'
               {% if page_type == 'add_new_athlete' %}
                  {% if request.user.profile.fullName %}
                     value="{{request.user.profile.fullName}}"
                     placeholder="{{request.user.profile.fullName}}"
                  {% else %}
                     value="{{request.user.username}}"
                     placeholder="{{request.user.username}}"
                  {% endif %}
               {% else %}
                  placeholder="{{request.user.profile.fullName}}"
                  value = '{{athlete.coach}}'
               {% endif %}
               >
         </div>
      
         <div class="buttons">
            <a class="btn btn--primary" href="{% url 'base:show_all_athletes' user.username %}">{% trans 'Отменить' %}</a>
            <button type="submit" class="btn btn-primary" id="button">{% trans 'Сохранить' %}</button>
         </div>
      </form>

   </div>  
</div>
