{% include 'main.html' %}
{% load static i18n %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/athlete_registration.css' %}">
<title>{% trans 'Athlete Registration' %}</title>
{% endblock title %}

{% block content %}
<input type="hidden" id="TournamentID" value="{{ tournament.id }}" />
<div class="home pre__athlete_regisration">
   <h1 >{{tournament.title}}</h1>
   <div class="athlete_regisration">
      <div class="athlete_regisration__left">
         {% if page_type == 'registration' %}
            <h2>{% trans 'Регистрация' %}</h2>
            <div class="athlete_regisration__left__header">
               <a href="{% url 'base:registration_on_tournament' tournament.slug %}" class="active">{% trans 'Регистрация' %}</a>
               <a href="{% url 'base:list_of_registered_on_tournament' tournament.slug %}">{% trans 'Список зарегистрированных' %}</a>
            </div>
            <div class="athlete_regisration__left__body">
               <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
            {% csrf_token %}

            <script src="/static/js/athlete-registration.js"></script>
         {% else %}
         <h2>{% trans 'Список зарегистрированных' %}</h2>
         
         <div class="athlete_regisration__left__header">
            <a href="{% url 'base:registration_on_tournament' tournament.slug %}">{% trans 'Регистрация' %}</a>
            <a href="{% url 'base:list_of_registered_on_tournament' tournament.slug %}"  class="active">{% trans 'Список зарегистрированных' %}</a>
         </div>
         <div class="athlete_regisration__left__body">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
         </div>

         <script src="/static/js/list_of_registered_on_tournament.js"></script>
         {% endif %}
      </div>
      <form class="athlete_regisration__right" method="POST">
         {% csrf_token %}
         <h2>{% trans 'Весовые категории' %}</h2>
         <div class="athlete_regisration__weight__categories">
            {% for weight_category in tournament.weightcategory_set.all  %}
               <div class="athlete_regisration__weight__category">
                  <h3>{{weight_category.gender}} - {{weight_category.year}} <span>{{weight_category.participants.count}}</span></h3>
                  <div class="athlete_regisration__weights">
                     {% for weight in weight_category.weight.all %}
                        <div class="athlete_regisration__weight">
                           <b>{{weight.name}}</b>
                           <span>{{ weight.participants.count }}</span>
                        </div>
                     {%  endfor %}
                  </div>
               </div>
            {% endfor %}
         </div>
      </form>
   </div>
</div>

{% endblock content %}  