{% include 'main.html' %}
{% load static i18n %}

{% block title %}
<title>{% trans 'Добавить новый турнир' %}</title>
<link rel="stylesheet" href="{% static 'css/tournaments/pre__form__tournaments.css' %}">
<link rel="stylesheet" href="{% static 'css/tournaments/create_tournament.css' %}">

{% endblock title %}

{% block content %}
<div class="pre__form__tournaments">   
      <form action="" method="post" id="create__tournire" enctype="multipart/form-data">
         {% csrf_token %}
         <div class="form__tournaments__pre__header">
            <p>
               <a href="{% url 'base:show_tournaments' %}">{% trans 'Лист туриниров' %}</a>/<span>{% trans 'Добавить новый турнир' %}</span>
            </p>
         </div>

         <div class="form__tournaments__header">
               <h2>{% trans 'Добавить новый турнир' %}</h2>
               <div class="form__tournaments__header__buttons">
                  <a href="{% url 'base:show_tournaments' %}" class="btn btn--primary">{% trans 'Отменить' %}</a>
                  {% if  page_type == 'create_tournament__part__two' %}
                  <button class="btn" type="submit">{% trans 'Продолжить' %}</button>
                  {% else %}
                  <button class="btn" type="submit">{% trans 'Продолжить публикацию' %}</button>
                  {% endif %}
               </div>
         </div>

         {% if page_type == 'create_tournament__part__one' %}
         {% if form.errors  %}
         <div class="errorlist">
            <p><strong>{% trans 'Упс! Где-то ошибка.' %}</strong></p>
            <ul>
               {% for error in form.errors %}
                  <li>{{ error }}</li>
               {% endfor %}
            </ul>
         </div>
         {% endif %}

         <div class="form__more">

            <div class="form__section">
               <h3>{% trans 'Информация о турнире' %}</h3>
               <div class="form__field">
                  <div class = "form__component">
                     <label for="">{% trans 'Название турнира на русском' %}:</label>
                     {{ form.title_ru }}
                  </div>
   
                  <div class="form__component">
                     <label for="">{% trans 'Название турнира на казахском' %}:</label>
                     {{ form.title_kk }}
                  </div>
   
                  <div class="form__component">
                     <label>{% trans 'Название турнира на английском' %}:</label>
                     {{ form.title_en }}
                  </div>
   
                  <div class="form__component">
                     <label> {% trans 'Логотип' %}:</label>
                     {{ form.logo }}
                  </div>
   
                  <div class="form__component">
                     <label> {% trans 'Описание на русском' %}:</label>
                     {{ form.about_ru }}
                     </div>
   
                  <div class="form__component">
                     <label> {% trans 'Описание на казахском' %}:</label>
                     {{ form.about_kk }}
                  </div>
   
                  <div class="form__component">
                     <label> {% trans 'Описание на английском' %}:</label>
                     {{ form.about_en }}
                  </div>

               </div>
            </div>

            <div class="form__chapter">
               <div class="form__section">
                  <h3>{% trans 'Местоположение' %}</h3>
                  <div class="form__component">
                     <label> {% trans 'Местоположение на русском' %}:</label>
                     {{ form.place_ru }}
                  </div>
   
                  <div class="form__component">
                     <label> {% trans 'Местоположение на казахском' %}:</label>
                     {{ form.place_kk }}
                  </div>

                  <div class="form__component">
                     <label> {% trans 'Местоположение на английском' %}:</label>
                     {{ form.place_en }}
                  </div>
               </div>

               <div class="form__section">
                  <h3>{% trans 'Дата и время' %}</h3>
                  <div class="form__component">
                     <label> {% trans 'Дата начала' %}:</label>
                     {{ form.startData }}
                  </div>
   
                  <div class="form__component">
                     <label> {% trans 'Дата конца' %}:</label>
                     {{ form.finishData }}
                  </div>
   
                  <div class="form__component">
                     <label> {% trans 'Время начала' %}:</label>
                     {{ form.startTime }}
                  </div>
               </div>

               <div class="form__section">
                  <h3>{% trans 'Другое' %}</h3>
                  <div class="form__component">
                     <label> {% trans 'Статус мероприятия' %}:</label>
                     {{ form.status }}
                  </div>
                  <div class="form__component">
                     <label> {% trans 'Ранг' %}:</label>
                     {{ form.rang }}
                  </div>
   
                  <div class="form__component">
                     <label> {% trans 'Зачет' %}:</label>
                     {{ form.credit }}
                  </div>
   
                  <div class="form__component">
                     <label> {% trans 'Число татами' %}:</label>
                     {{ form.tatamis_count }}
                  </div>

                  <div class="form__component">
                     <label> {% trans 'Опубликовать' %}:</label>
                     {{ form.public }}
                  </div>
               </div>

            </div>
         </div>

         <div class="form__more">

            <div class="form__section">
               <h3>{% trans 'Организаторы' %}</h3>
               <div class="form__component">
                  <label for="">{% trans 'Главный судья на русском' %}:</label>
                  {{ form.chiefJustice_ru }}
               </div>

               <div class="form__component">
                  <label for="">{% trans 'Главный судья на казахском' %}:</label>
                  {{ form.chiefJustice_kk }}
               </div>

               <div class="form__component">
                  <label for="">{% trans 'Главный судья на английском' %}:</label>
                  {{ form.chiefJustice_en }}
               </div>

               <div class="form__component">
                  <label for="">{% trans 'Главный секретарь на русском' %}:</label>
                  {{ form.chiefSecretary_ru }}
               </div>

               <div class="form__component">
                  <label for="">{% trans 'Главный секретарь на казахском' %}:</label>
                  {{ form.chiefSecretary_kk }}
               </div>

               <div class="form__component">
                  <label for="">{% trans 'Главный секретарь на английском' %}:</label>
                  {{ form.chiefSecretary_en }}
               </div>
            </div>

         </div>
         {% endif %}
         {% if page_type == 'create_tournament__part__two' %}            

            <div class="form__field">
               <label for="">{% trans 'Загрузить фото' %}:</label>
               <input type = "file" multiple name="files" id="logos" />
            </div>

            <div class="print__logos"></div>
            
            <div class="form__field">
               <label for="">{% trans 'Загрузить логотипы спонсоров' %}:</label>
               <input type = "file" multiple name="sponsors-logotips" id="sponsors-logos" />
            </div>

            <div id="print__sponsors__logos"></div>
         {% endif %}
      </form>
</div>

<script>
   {% comment %} document.querySelector('#id_startData').type = 'date'
   document.querySelector('#id_finishData').type = 'date'
   document.querySelector('#id_startTime').type = 'time' {% endcomment %}
</script>
<script src="{% static 'js/tourments_logo_load.js' %}"></script>

{% endblock content %}  