{% include 'main.html' %}
{% load static i18n %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/tournament.css' %}">
<title>{% trans 'Турниры' %}</title>
{% endblock title %}

{% block content %}
<h2 class="title">{% trans 'Лист турниров' %}</h2>
<div class="home">
   <form class="form" method="GET" id="TournamentForm" >
      {% csrf_token %}
      <h3>
         <i class="fa-solid fa-sliders"></i>
         {% trans 'Фильтры' %}</h3>
      
      <div class="form__component">
         <input type="search" name="search" placeholder="Поиск" />
      </div>

      <div class="form__component">
         <label for="">Дата начала:</label>
         <input type="date" name="startDate" />
      </div>

      <div class="form__component">
         <label for="">Дата конца:</label>
         <input type="date" name="endDate" />
      </div>

      <button class="btn">{% trans 'Сортировать' %}</button>
   </form>
   <div class="all__tournaments tournament_list" id="TournamentList">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
   </div>   
</div>
<script src="/static/js/tournament-list.js"></script>
{% endblock content %}  