{% include 'main.html' %}
{% load static i18n %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/tournaments/tournament_show.css' %}">
<title>{% trans 'Tournament' %}</title>
{% endblock title %}
   
{% block content %}
<div class="tournament">
   <div class="tournament__menu">
      
      <a class="tournament__weight__category__link" href="{% url 'base:tournamet_show' tournament.slug %}">
         {% trans 'Categories' %}
      </a>
      
      {% for weight_category in tournament.weightcategory_set.all  %}
         <a class="tournament__weight__category" href="{% url 'base:tournamet_show_category' tournament.slug weight_category.id %}">
            <i class="fa-solid fa-list"></i>
            <h4>{{weight_category.gender}} {{weight_category.year}}</h4>
         </a>
      {% endfor %}
   </div>
   <div class="tournament__left">
      <h3>{{ tournament.title }}</h3>
      <p>
         <i class="fa-solid fa-calendar-days"></i> 
         {% trans 'Date' %}: {{tournament.startData}} - {{tournament.finishData}}
         <i class="fa-regular fa-clock"></i>
         {% trans 'Time' %}: {{tournament.startTime}}
         {% trans 'status' %}
      </p>
      <p>
         <i class="fa-solid fa-users"></i> {% trans 'Participants' %}: {{person_count }}
      </p>
      <p>   
         <i class="fa-solid fa-location-dot"></i> {% trans 'Location' %}: {{tournament.place}}
         <i class="fa-solid fa-ranking-star"></i> {% trans 'Rang' %}: {{tournament.rang}}
      </p>
      <div class="slider">
         <button id="slider__left" >
            <i class="fa-solid fa-chevron-left"></i>
         </button>

         <img src="" alt="" id="slider__gallery">
         
         <button id="slider__right">
            <i class="fa-solid fa-chevron-right"></i>
         </button>
      </div>
      <div class="tournament__images" id="images__collection">
         {% for logo in tournament.logos.all %}
            <img src="/static/media/{{logo.image}}" alt="{{ image.name }}" class="slider__image">
         {% endfor %}
      </div>
      <p>
         <i class="fa-solid fa-user-tie"></i> {% trans 'Chief Justice' %}: {{ tournament.chiefJustice}}
      </p>
      <p>
         <i class="fa-solid fa-user-tie"></i> {% trans 'Chief Secretary' %}: {{ tournament.chiefSecretary }}
      </p>
      <p>   
         <i class="fa-solid fa-highlighter"></i>{% trans 'About' %}: {{tournament.about}}
      </p>
      <p class="tournament__sponsors">
         <span>
            <i class="fa-solid fa-users"></i>
            {% trans 'Sponsors' %}: </span>
         {% for sponsor in tournament.sponsors.all %}
         <img src="/static/media/{{sponsor.image}}" alt="{{ sponsor.name }}">
         {% endfor %}
      </p>
   </div>
   <div class="tournament__right">
      {% for weight in weights %}
      {% endfor %}
   </div>
</div>

<script src="{% static '/js/gallery.js' %}"></script>
{% endblock content %}     