{% include 'main.html' %}
{% load static i18n %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/tournaments/toss.css' %}">
<title>{{tournament.title}}</title>
{% endblock title %}
   
{% block content %}
<div class="toss">
   <input type="hidden" value='{{ tournament.id }}' id='TournamentId'  />

   <input type="hidden" value='{{ tournament.startData }}' id='TournamentStartDate'  />
   <input type="hidden" value='{{ tournament.finishData }}' id='TournamentEndDate'  />

   <div class="toss__header">
      <h3 class="title">{{tournament.title}}</h3>
      <div class="toss__bar">
         <div class="toss__header__left">
            <button
                    title="{% trans 'Скрыть категории' %}"
                    class="btn"
                    id="HideContentCategories">
               <i class="fa-regular fa-square-caret-down"></i>
            </button>
         </div>
         <div class="toss__header__right">
            <button
                    title="{% trans 'Отрисовать' %}"
                    class="btn"
                    id="DrawSorting">
               <i class="fa-solid fa-pen-ruler"></i>
               {% trans 'Отрисовать' %}
            </button>
            <button
                    title="{% trans 'Очистить' %}"
                    class="btn"
                    id="ClearSorting">
               <i class="fa-solid fa-eraser"></i>
               {% trans 'Очистить' %}
            </button>
            <button
                    title="{% trans 'Подтвердить' %}"
                    class="btn"
                    id="ConfirmSorting">
               <i class="fa-solid fa-check"></i>
               {% trans 'Подтвердить' %}
            </button>
         </div>
      </div>
   </div>

   <div class="toss__content">
      <div class="toss__content__left" id="ContentLeft" >
         <div class="toss__content__left__category" id="ContentLeftCategories"></div>
         <div class="toss__content__left__category" id="ContentLeftWeights"></div>
         <div class="toss__content__left__category" id="ContentLeftPeople"></div>
      </div>
      <form
           class="toss__content__right"
           id="ContentRight"
           method="POST">
         {% csrf_token %}
      </form>
   </div>

</div>

<script src="{% static 'js/toss.js' %}"></script>

{% endblock content %}  