{% include 'main.html' %}
{% load static i18n %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/tournaments/toss.css' %}">
<title>{{tournament.title}}</title>
{% endblock title %}
   
{% block content %}
<div class="toss">
   <input type="hidden" value='{{tournament.id}}' id='TournamentId'  />
   <div class="toss__header">
      <h3 class="title">{{tournament.title}}</h3>
      <div class="toss__bar">
         <div class="toss__header__left">
            <button class="btn" id="HideContentCategories">Hide</button>
         </div>
         <div class="toss__header__right">
            <button class="btn" id="DrawSorting">{% trans 'Отрисовать' %}</button>
            <button class="btn" id="ClearSorting">{% trans 'Очистить' %}</button>
            <button class="btn" id="ConfirmSorting">{% trans 'Подтвердить' %}</button>
         </div>
      </div>
   </div>

   <div class="toss__content">
      <div class="toss__content__left" id="ContentLeft" >
         <div class="toss__content__left__category" id="ContentLeftCategories"></div>
         <div class="toss__content__left__category" id="ContentLeftWeights"></div>
         <div class="toss__content__left__category" id="ContentLeftPeople"></div>
      </div>
      <div class="toss__content__right" id="ContentRight"></div>
   </div>

</div>

<script src="{% static 'js/toss.js' %}"></script>

{% endblock content %}  