{% include 'main.html' %}
{% load static i18n %}

{% block title %}
   <link rel="stylesheet" href="{% static 'css/tournaments/weight_categories.css' %}">
<link rel="stylesheet" href="{% static 'css/tournaments/create_tournament.css' %}">
   <title>{% trans 'Weight Categories' %}</title>
{% endblock title %}

{% block content %}
   <div class="categories_header">
      <div class="form__tournaments__pre__header">
         <p>
            <a href="{% url 'base:show_tournaments' %}">Tournament list</a>/<span>{{ tournament.title }}</span>
         </p>
      </div>
      
      <div class="form__tournaments__header">
            <h3>{% trans 'Adding categories for a tournament' %}</h3>
            <div class="form__tournaments__header__buttons">
               <a class="btn" href="{% url 'base:show_tournaments' %}">{% trans 'Continue' %} <i class="fa-solid fa-arrow-right"></i></a>
            </div>
      </div>
   </div>
   <div class="categories">
      <form method="POST" class="create__tournament">
         <input type="text" name="form_type" value="weight__category" style="display: none" required>

         <h2>{% trans 'Add New Category' %}</h2>
         {% csrf_token %}
         {% for field in form  %}
            <div class = "form__component">
               {% if field.errors %}
               <ul class="errorlist">
                  {% for error in field.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
               </ul>
               {% endif %}
               {{ field.label_tag }} {{ field }}
            </div>
         {% endfor %}

         <button type="submit" class="btn btn-primary" id="button">{% trans 'Save' %}</button>
      </form>
      <table class="show__all__categories">
         <thead>
            <tr class="table__head">
               <th>{% trans 'Gender' %}</th>
               <th scope="col">{% trans 'Year' %}</th>
               <th scope="col">{% trans 'Weight' %}</th>
               <th scope="col"></th>
               <th scope="col"></th>
            </tr>
         </thead>
         <tbody>
         {% for category in weight_categories  %}
               <tr class="candidates-list">
                  <td><a href="">{{category.gender}}</a></td>
                  <td scope="col"><a href="">{{category.year}}</a></td>
                  <td scope="col" class="weights_col">
                     {% for weight in category.weight.all %}
                        <span class="one__weight">
                           {{weight.name}}
                        </span>
                     {% endfor %}
                  </td>

                  <td scope="col" class="td_delete"><a href="{% url 'base:weight_category_weight' tournament.slug category.id %}" class="">+</a></td>
                  <td scope="col" class="td_delete"><a href="{% url 'base:weight_categories_delete' tournament.slug category.id %}" >x</a></td>
               </tr>
         {% endfor %}
         
         </tbody>
      </table>
   </div>
{% endblock content %}