{% include 'main.html' %}
{% load static i18n %}

{% block title %}
   <link rel="stylesheet" href="{% static 'css/auth.css' %}">
   {% if page_type == 'login' %}
      <title>
         {% trans 'Login' %}
      </title>
   {% else %}
      <title>
         {% trans 'Registration' %}
      </title>
   {% endif %}
{% endblock title %}


{% block content %}
   <div class="pre__form">
      <form method="POST">
         {% csrf_token %}

         {% if page_type == 'login' %}
            <h1>{% trans 'Login' %}</h1>
            <p>{% trans 'Please login to your account and start the adventure' %}</p>

            <div class = "form__component">
               <label>{% trans 'Email' %}:</label>
               <input type="email" name="email" id="email" required />
            </div>

            <div class = "form__component">
               <label>{% trans 'Password' %}:</label>
               <input type="password" name="password" id="password" required />
            </div>
         {% else %}
            <h1>{% trans 'Registration' %}</h1>
            <p>{% trans 'Please register and start the adventure' %}</p>

            {% for field in form  %}
               <div class = "form__component">
                  {{ field.label_tag }} {{ field }}
                  {% if field.errors %}
                  <ul class="errorlist">
                     {% for error in field.errors %}
                     <li>{{ error }}</li>
                     {% endfor %}
                  </ul>
                  {% endif %}
               </div>
            {% endfor %}

         {% endif %}

         <button type="submit" class="btn">{% trans 'Continue' %}</button>
      
         {% if page_type == 'login' %}
            <p>{% trans 'New on our platform?' %} <a href="{% url 'base:registration' %}">{% trans 'Create an account' %}</a></p>
         {% else %}
            <p>{% trans 'Already have an account?' %} <a href="{% url 'base:login' %}">{% trans 'Sign in instead' %}</a></p>
         {% endif %}
      </form>
   </div>
{% endblock content %}