{% include 'main.html' %}
{% load static i18n %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/tournament.css' %}">

<title>Judo E-Platform</title>
{% endblock title %}

{% block content %}
<div class="pre__home">
   <div class="home__header">
      <h2>{% trans 'Лист турниров' %}</h2>
      <a href="{% url 'base:show_tournaments' %}" ><i class="fa-solid fa-arrow-right"></i></a>
   </div>
   <div class="all__tournaments" id="TournamentList">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
   </div>   
</div>
<script src="/static/js/tournament-list.js"></script>

{% endblock content %}  