{% include 'main.html' %}
{% load static i18n %}

{% block title %}
   <link rel="stylesheet" href="{% static 'css/profile.css' %}">
   {% if page_type == 'edit_password' %}
   <link rel="stylesheet" href="{% static 'css/PasswordChange.css' %}">
   {% endif %}
   <title>{{user.username}}</title>
{% endblock title %}


{% block content %}
   <div class="home">
      <div class="home__card">

         <div class="home__card__left">
            <div class="home__card__left__about">
               {% if profile.image %}
               <img src="/static/media/{{profile.image}}" alt="{{profile.fullName}}">
               {% else %}
               <img src="https://images.pexels.com/photos/171945/pexels-photo-171945.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="{{profile.fullName}}">
               {% endif %}
               {% if profile.fullName %}
                  <h4>{{profile.fullName}}</h4>
               {% else %}
                  <h4>{{user.username}}</h4>
               {% endif %}
            </div>
            <span class="home__card__span"></span> 
            <div class="home__card__left__menu">
               <a  href="{% url 'base:show_profile' user.username %}" >
                  <i class="fa-solid fa-user"></i>
                  <h4>{% trans 'Info' %}</h4>
               </a>
               {% if user.is_superuser %}
                  <a   href="{% url 'base:show_all_athletes' user.username %}" >
                     <i class="fa-solid fa-users"></i>
                     <h4>{% trans 'Athletes' %}</h4>
                  </a>
               {% endif %}
               {% comment %} <a  href="{% url 'base:show_profile' user.username %}" >
                  <i class="fa-solid fa-calendar-days"></i>      <a  href="{% url 'base:show_profile' user.username %}" >
                  <i class="fa-solid fa-calendar-days"></i>
                  <h4>{% trans 'Tournaments' %}</h4>
               </a>
                  <h4>{% trans 'Tournaments' %}</h4>
               </a> {% endcomment %}
               {% if request.user.is_authenticated %}
                  {% if request.user.username == user.username %}
                     <a href="{% url 'base:edit_profile' request.user.username %}" 
                        class="">
                        <i class="fa-solid fa-gear"></i>
                        <h4>{% trans 'Edit' %}</h4>
                     </a>
                     <a href="{% url 'base:logout' %}" class="home__card__left__menu__delete" >
                        <i class="fa-solid fa-door-open"></i>
                        <h4>{% trans 'Logout' %}</h4>
                     </a>
                  {% endif %}
               {% endif %}
            </div>
         </div>

         <div class="home__card__right">
            {% if page_type == 'view_profile' %}
               {% include 'base/profile/view_profile.html' %}
            {% elif page_type == 'edit_profile' %}
               {% include 'base/profile/edit_profile.html' %}
            {% elif page_type == 'edit_password' %}
               {% include 'base/profile/edit_password_profile.html' %}
            {% elif page_type == 'delete_account' %}
               {% include 'base/profile/delete_profile.html' %}
            {% elif page_type == 'show_all_athletes' %}
               {% include 'base/profile/show_all_athletes_profile.html' %}
            {% endif %}
      </div>
   </div>
{% endblock content %}