.form__tournaments {
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 10px 0px rgb(20,20,20,.1);
}
.form__tournaments form {
   padding: 10px !important;
}
h2 {
   margin-bottom: 10px;
}

.form__delete {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   min-width: 100%;
}

@media screen and (max-width: 500px) {
   .form__tournaments form {
      padding: 0 !important;
   }
   .pre__form__tournaments {
      padding: 0;
   }
   .form__tournaments {
      padding: 0;
      background-color: transparent;
      box-shadow: none
   }
}