.pre__form__tournaments {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   padding: 10px;
   width: 100%;
}
.form__tournaments {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   max-width: 600px;
   padding: 10px;
   margin: 2% 0;
}
.form__field {
   width: 100%;
}
#create__images {
   width: 100% !important;
}
form {
   width: 100%;
}
label {
   color: rgb(20, 20, 20, .6);
}

/* form__field__upload */
.form__field__upload {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   gap: 1rem ;
   background-color: white;
}

.form__field__log {
   height: 100%; 
   min-height: 20vh;
   max-height: 30vh;
}
.form__field__log option {
   padding: .1rem .2rem;
}

.print__logos div {
   width: 170px;
   height: 100%;
   margin: 5px;
}

.thumbnail {
   width: 170px;
   height: 100%;
   /* object-fit: cover; */
   border: 1px solid rgb(20, 20, 20, .5);
}
.print__logos, #print__sponsors__logos {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   margin: 10px 0;
   gap: 10px;
}
#id_weight_categories {
   height: 30vh;
}

input {
   background-color: white;
   padding: 10px;
   width: 100%;
   border-radius: 10px;
   margin-bottom: 10px;
}