@import './../variables.css';

.categories {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   width: 100%;
   padding: 10px;
   margin-top: 5%;
   gap: 20px;
}
.create__tournament {
   width: 40%;
}
table {
   width: 60%;
}
.create__tournament {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   flex-direction: column;
   background-color: rgba(87, 127, 220, 0.06);
   
   max-width: 480px;
   padding: 20px;
   border-radius: 10px;
}
.create__tournament h2 {
   margin-bottom: 14px;
}
.table {
   width: 100%;
}
.table__head {
   background-color: var(--lightblue);
   color: var(--white);
}
.table__head th {
   padding: 5px ;
}
.candidates-list {
   background-color: #fff;
}
.candidates-list td {
   text-align: center;
   border: 1px solid black;
   padding: 5px 10px;
}
.td_delete {
   transition: all .3s linear;
}
.td_delete a {
   color: var(--black);
}
.td_delete:hover {
   background-color: var(--gold);
   cursor: pointer;
}

@media screen and (max-width: 500px) {
   .categories {
      flex-direction: column;
   }
   .categories form {
      margin-top: 10%;
   }
}