footer {
   width: 100%;
   background-color: #577fdc;

   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 5%;
   height: 100px;
 }
 .btn--white {
   background-color: white;
   color: #577fdc;
 }