@import './variables.css';

.home {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   padding: 10px 5vw;
   height: 100%;
}
.home__card {
   display: grid;
   grid-template-columns: 1fr 3fr;
   justify-content: space-between;
   align-items: start;

   max-width: 1000px;
   width: 100%;
   height: 100%;
   margin-bottom: 5%;
   margin-top: 60px;

   background-color:  var(--white);
   border-radius: 5px;
   box-shadow: 1px 1px 10px rgb(20,20,20, .1);
}
.home__card__left {
   max-width: 300px;
   height: 100%;
   width: 100%;

   padding: 5px;
   background-color: rgb(79, 138, 139, .1);
   padding: 10px;
   border-radius: 5px 0 0 5px;
} 
.home__card__left__about{
   display: flex;
   justify-content: start;
   align-items: center;
   width: 100%;
   margin-bottom: 10px;
   gap: 10px
}
.home__card__left__about img {
   max-width: 50px;
   max-height: 50px;
   border-radius: 5px;
   object-fit: cover;
   border: 1px solid rgb(20,20,20, .05);
   padding: 3px;  
}
.home__card__left__menu {
   margin: 10px 0;
   width: 100%;
}
.home__card__left__menu a {
   color:rgb(0,0,0,.9);
   transition: all .3s linear;
}
.home__card__left__menu a i {
   font-weight: bold;
}
.home__card__left__menu a:hover {
   color:  var(--lightblue);
}
.home__card__span {
   display: block;
   content: '';
   width: 100%;
   height: 1px;
   margin: 2% 0;
   background-color: rgb(20,20,20, .1);
}
.home__card__right {
   padding: 10px;
   width: 100%;
}
.home__card__right__image {
   max-width: 200px;
   width: 100%;
   height:200px;
   border-radius: 5px;
}
.home__card__right__title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
.update__icon {
   color:  var(--black);
   padding: 4px 6px;
   border-radius: 10px;
   transition: all .3s linear;
}
.update__icon:hover {
   background-color: rgb(79, 138, 139, .15);
}
.home__card__right__info {
   padding-left: 30px;
   margin: 5px 0;
}
.home__card__right__info div {
   margin-bottom: 3px;
}
.form__component {
   display: flex;
   justify-content: start;
   align-items: start;
   flex-direction: column;
   width: 100%;
   position: relative;
}
.form__component label {
   font-size: 14px;
   color: rgb(83, 83, 83);
   }
.form__component input {
   width: 100%;
   max-width: 400px;
   padding: 6px 10px;
   font-size: 16px;
   margin-bottom: 6px;
   min-width: 100%;
}
form {
   padding: 10px;
   margin-bottom: 5%;
}
form h3 {
   margin-bottom: 10px;
}

.profile__right__passwords {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   padding: 10px 0;
   margin-bottom: 10px;
   gap: 10px
}

.profile__danger {
   border: 2px solid darkred;
   margin: 10px 0 20px;
}
.profile__danger__name {
   background-color: darkred;
   width: 100%;
   
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   color: rgb(255, 186, 186)
}
.profile__right__passwords {
   padding: 5px 10px;
   border-radius: 5px;
}

/* Danger Zone Buttons */
.profile__right__passwords a {
   font-size: 18px;
   margin: 4px 0;
   color: darkred;
   background-color: rgb(255, 186, 186);
   padding: 10px 10%;
   border: 2px solid darkred;
   transition: all .3s linear;
}
.profile__right__passwords a:hover {
   color: rgb(255, 186, 186);
   background-color: darkred;
   border-color: rgb(255, 186, 186);
   cursor: pointer;
}
.delete__Account {
   font-size: 18px;
   margin: 4px 0;
   padding: 10px 10%;
   transition: all .3s linear;
   color: rgb(255, 186, 186) !important;
   background-color: darkred !important;
   border-color: rgb(255, 186, 186) !important;
   cursor: pointer;
}
.delete__Account:hover {
   color: darkred !important;
   background-color: rgb(255, 186, 186) !important;
   border: 2px solid darkred !important;
}

/*  Delete Account */
.delete__account__choices {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;   
}
.delete__account__choices a {
   color: var(--black);
   transition:  all .3s linear;
}
.delete__account__choices a:hover {
   color: var(--lightblue);
}
select {
   background-color: transparent;
   border: 1px solid rgb(0,0,0,.1);
   padding: 4px 8px;
   font-size: 18px;
}